{% extends 'base.html.twig' %}

{% block title %}Supprimer un produit{% endblock %}

{% block menu %}
    {% include 'menuAdmin.html.twig' %}
{% endblock %}

{% block body %}
    {% if app.user.roles == 'ROLE_ADMIN' %}
        <div class="container">
            <h2 class="text-danger">Supprimer le produit </h2>
            <div class=" form-group col-3">
                {{ form_start(form) }}
                <h3 class="text-danger">Etes-vous sur de vouloir supprimer ce produit ? </h3>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.price) }}
                {{ form_row(form.image) }}
                {{ form_row(form.promo) }}
                {{ form_row(form.stock) }}
                {{ form_row(form.bio) }}
                {{ form_row(form.categorie) }}
            </div>
            <input class="btn btn-danger rounded-pill" type="submit" value="valider">
            {{ form_end(form) }}
            <a class="btn btn-warning " href="/admin/edit/product">ANNULER</a>
        </div>
    {% endif %}
{% endblock %}
